@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 62.5%;
}

body {
	height: 100vh;
	position: relative;
	background-color: #f5f5f5;
}

.svg {
  position: absolute;
  transform: rotate(-0.25turn);
}

.circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.animate-10 {
  animation: stroke ease-out forwards;
  animation-duration: 25s;
}

.animate-20 {
  animation: stroke ease-out forwards;
  animation-duration: 49s;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}



@media screen and (min-width: 760px) {
  html {
    font-size: 80%;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 110%;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 140%;
  }
}
